a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 15px 24px;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  position: relative;
  position: fixed;
  z-index: 20;
  top: 0;
}

.header_sns {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 16px;
}

.sns_instagram,
.sns_twitter {
  align-items: center;
  border: solid 1px #eee;
  border-radius: 50%;
  color: #adadad;
  display: inline-flex;
  font-size: 24px;
  height: 50px;
  width: 50px;
  justify-content: center;
}

.icon_twitter {
  width: 25px;
  height: 20px;
}

.icon_instagram {
  width: 24px;
  height: 24px;
}

.header_hamburger {
  display: none;
}

.menu {
  display: none;
}

.menu_item {
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
}

.menu_item_link {
  color: #0071bc;
}

/* スマホ・タブレットサイズ */
@media (max-width: 720px) {
  .header_sns {
    display: none;
  }

  .header_hamburger {
    display: block;
    height: 40px;
    position: fixed;
    right: 19px;
    width: 40px;
    z-index: 100;
    background-color: #fff;
    border: #fff;
  }

  .header_hamburger::before,
  .header_hamburger::after {
    background-color: #333;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: transform 0.4s, top 0.4s;
    width: 34px;
  }

  .header_hamburger::before {
    top: 12px;
    transform: translate(-50%, 0);
  }

  .header_hamburger::after {
    top: 27px;
    transform: translate(-50%, 0);
  }

  header.is-open .header_hamburger::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  header.is-open .header_hamburger::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  header.is-open .menu {
    display: block;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
  }
}

.hide {
  display: none;
}

/* トップページ */
.top_content {
  margin: 10% auto;
}

.top_hero {
  display: flex;
  margin: auto 10%;
  justify-content: center;
}

.top_hero_title {
  margin-top: 15%;
  display: flex;
  flex-flow: column;
}

.top_content {
  display: flex;
  gap: 50px;
  margin-right: auto;
  /* text-align:  center;    文字中央寄せ */
  padding: 30%;
  /* 余白指定 */
  /* border: solid 2px;      枠線指定 */
  background-image: url(../img/top_img/DX\ 集合写真.jpg);
  background-repeat: no-repeat;
  background-size: 70%;
}

.top_content_text {
  color: aquamarine;
  font-size: 30px;
  font-weight: bold;
}


/* Birthday */
.birthday_hero {
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  max-width: 1200px;
  /* width: 100%; */
  /* height: 100px; */
}

.birthday_hero_catch_inner {
  max-width: 500px;
  height: 100px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
}

.birthday_hero_catch {
  font-size: 100px;
  font-weight: bold;
  /* margin-top: 10%; */
  color: pink;
}

.birthday_hero_text_box {
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
}

.birthday_hero_text {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: lightpink;
  justify-content: center;
}

/* ここからcontent */
.birthday_content {
  margin-top: 60px;
}

.birthday_content_manth_list {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  /* height: 70px; */
  background-color: rgb(217, 122, 122);
  text-align: center;
}

.birthday_content_manth_list_inner {
  margin: 10px 10px;
  color: #fff;
  font-size: 60px;
  letter-spacing: 0.2em;
  font-weight: bold;
  line-height: 1.3;
}


.birthday_content_manth {
  margin: 10px 10px;
}

.birthday_content_manth_box {
  background-color: rgb(254, 254, 254);
}

.birthday_content_manth_title {
  font-size: 60px;
  background-color: #fff;
  /* border: solid 1px #666; */
  color: #a4c6ff;
}

.birthday_content_manth_item_box {
  background-color: #a4c6ff;
  display: flex;

}

.birthday_content_manth_day {
  width: 100px;
  height: 60px;
  text-align: center;
  /* margin-left: 10px; */
  background-color: #a4c6ff;
}

.birthday_content_manth_name {
  width: 500px;
  height: 60px;
  text-align: center;
  /* font-size: 30px; */
  background-color: #a4c6ff;
}

.birthday_content_manth_text_img {
  background-color: bisque;
  display: flex;
}

.birthday_content_manth_img {
  width: 31%;
  height: 30%;
  margin: auto 0;
}

.birthday_content_manth_text {
  height: 30%;
  margin: 10px 10px;
  overflow: auto;
  max-height: 250px;
}

.birthday_content_manth_text_from {
  font-size: 14px;
  margin-left: 10px;
}

/* 100秒スピーチ */

.speech_hero {
  padding: 0 24px;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1200px;
  background-color: #fff;
}

.speech_hero_catch {
  font-size: 70px;
  font-weight: bold;
  /* margin-top: 10%; */
  color: pink;
  text-align: center;
  justify-content: center;
}
.speech_hero_text{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: lightpink;
  justify-content: center;
}

.speech_content {
  margin-top: 60px;
}

.speech_content_guidelines_list {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  /* height: 70px; */
  background-color: rgb(217, 122, 122);
  text-align: center;
}

.speech_content_guideline_list {
  margin: 10px 10px;
  color: #fff;
  font-size: 60px;
  letter-spacing: 0.2em;
  font-weight: bold;
  line-height: 1.3;
}

.speech_content_inner {
  margin: 10px 10px;
}

.speech_content_box {
  background-color: rgb(254, 254, 254);
}

.speech_content_title {
  font-size: 60px;
  background-color: #fff;
  /* border: solid 1px #666; */
  color: #a4c6ff;
}

.speech_content_item_box {
  background-color: #a4c6ff;
  display: flex;

}

.speech_content_day {
  width: 100px;
  height: 60px;
  text-align: center;
  /* margin-left: 10px; */
  background-color: #a4c6ff;
}

.speech_content_name {
  width: 500px;
  height: 60px;
  text-align: center;
  /* font-size: 30px; */
  background-color: #a4c6ff;
}

.speech_content_text_img {
  background-color: bisque;
  display: flex;
}

.speech_content_img {
  width: 31%;
  height: auto;
}

.speech_content_text {
  margin: 10px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


/* いべんと */
.event_hero{
  padding: 0 24px;
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1200px;
  background-color: #fff;
}
.event_hero_catch{
  font-size: 70px;
  font-weight: bold;
  /* margin-top: 10%; */
  color: pink;
  text-align: center;
  justify-content: center;
}
.event_hero_text{
  /* margin-top: 0; */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: lightpink;
  justify-content: center;
}

.event_content{
  margin-top: 60px;
}
.event_content_month_list{
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  /* height: 70px; */
  background-color: rgb(217, 122, 122);
  text-align: center;
}
.event_content_month{
  margin: 10px 10px;
  color: #fff;
  font-size: 60px;
  letter-spacing: 0.2em;
  font-weight: bold;
  line-height: 1.3;
}

.event_content_inner{
  margin: 10px 10px;
}
.event_content_box{
  background-color: rgb(254, 254, 254);
}
.event_content_title{
  font-size: 60px;
  background-color: #fff;
  /* border: solid 1px #666; */
  color: #a4c6ff;
}
.event_content_item_box{
  background-color: #a4c6ff;
  display: flex;

}
.event_content_day{
  width: 100px;
  height: 60px;
  text-align: center;
  /* margin-left: 10px; */
  background-color: #a4c6ff;
}
.event_content_name{
  width: 500px;
  height: 60px;
  text-align: center;
  /* font-size: 30px; */
  background-color: #a4c6ff;
}

.event_content_text_img{
  background-color: bisque;
  display: flex;
}
.event_content_img{
  width: 31%;
  height: auto;
}
.event_content_text{
  margin: 10px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}



/* ブラシス */


.footer_fixed_buttons {
  position: fixed;
  bottom: 16px;
  right: 16px;
  left: auto;
}

.footer_fixed_button {
  align-items: center;
  background-color: #2053f9;
  padding: 10px;
  text-align: center;
  border-bottom: solid 3px #fff;
}

.footer_fixed_link {
  color: #fff;
  font-weight: 500;
}

.footer_inner {
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
}

.footer_sns {
  text-align: center;
  align-items: center;
}

.footer_inner {
  text-align: center;

}

.footer_sns {
  text-align: center;
  align-items: center;
}

.footer_sns_list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer_copyright {
  text-align: center;
}

footer.is-changed .footer_fixed_buttons,
footer.is-changed .footer_logo,
footer.is-changed .footer_copyright {
  display: none;
}

footer.is-changed .footer_sns_list {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
}


@media screen and (max-width: 720px) {

  /* ハンバーガー */
  .header_sns {
    display: none;
  }

  .header_hamburger {
    display: block;
    height: 40px;
    position: fixed;
    right: 19px;
    width: 40px;
    z-index: 100;
    background-color: #fff;
    border: #fff;
  }

  .header_hamburger::before,
  .header_hamburger::after {
    background-color: #333;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    transition: transform 0.4s, top 0.4s;
    width: 34px;
  }

  .header_hamburger::before {
    top: 12px;
    transform: translate(-50%, 0);
  }

  .header_hamburger::after {
    top: 27px;
    transform: translate(-50%, 0);
  }

  header.is-open .header_hamburger::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  header.is-open .header_hamburger::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  header.is-open .menu {
    display: block;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
  }

  /* バースデー */

  @media screen and (max-width: 720px) {
    .birthday_hero_catch {
      margin-top: 30%;
      /* font-size: 80px; */
      justify-content: center;
      /* margin-left: auto; */
      width: 100%;
    }

    .birthday_content_manth_list {
      margin-bottom: 10%;
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%;
      width: auto;
      height: auto;
    }

    .birthday_content_manth_list_inner {
      font-size: 60px;
      word-break: normal;
    }

    .birthday_content_manth_text {
      max-height: 120px;
    }

    /* フッター */
    .footer_fixed_buttons {
      display: none;
    }

  }

  @media screen and (max-width: 480px) {

    /* バースデー */
    .birthday_hero_catch {
      margin-top: 30%;
      font-size: 70px;
    }

    .birthday_hero_text_box {
      justify-content: space-between;
    }

    .birthday_content_manth_list {
      margin-bottom: 10%;
      justify-content: space-between;
      width: auto;
      height: auto;
    }

    .birthday_content_manth_list_inner {
      font-size: 36px;
      word-break: normal;
    }

    /* 100秒 */


    /* イベント */


    /* ブラシス */

  }
}